*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100%;
    max-width: 100% !important;

}

.light {
    background-color: #f9fbe7  
}

.dark {
    background-color: #37474f ;
    color:white  
}

.chat-msg-list{
    width: 100%;
    overflow-x: auto
}

.row-no-margin-bottom{
    margin-bottom: 0px;
}

#chat-input{
    height: 30px;
    border-radius: 50px;
    margin-top: 5px;
    padding-left: 20px;
    background-color: white;
    resize: none;
    padding-top: 5px;
}
#chat-input:focus{
    outline-width:0px;
}

element.style {
    height: 70px;
}

.fill-height{
    height: 100%;
}

.middle-content{
    display: flex;
    align-items: center
}
.send-button{
    cursor: pointer;
    width:35px;
    height: 36px;
}

.current-user-msg-container{
    float: right;
    display: inline-flex;
    background-color: #aed581;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 3px;
    border-radius: 10px;
    margin-top: 3px;
    margin-right: 10px;
    box-shadow: -3px 3px 4px #888888;
}

div.dark .current-user-msg-container{
    background-color: #546e7a;
    box-shadow: -3px 3px 4px black;
}

div.dark .other-user-msg-container{
    background-color:#263238;
    box-shadow: -3px 3px 4px black;
}

div.dark nav{
    background-color: #212121 
}

div.dark #chat-input{
    background-color: #263238;
    color:white;
    border:0px 
}

div.dark input, div.dark select{
    color: white; 
    background-color:#263238  
}

.other-user-msg-container{
    float: left;
    display: inline-flex;
    background-color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 10px;
    box-shadow: 3px 3px 4px #888888;
}
.current-user-time{
    font-size: xx-small
}

.current-user-msg{
    margin-right: 30px;
}
.other-user-msg{
    margin-left: 30px;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: unset;
    opacity: 100;
    pointer-events: fill
}

.setting-container{
    max-width: 400px;
}

select {
    display: block;
}