*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100%;
    max-width: 100% !important;
    background-color: #f9fbe7  
}

.chat-msg-list{
    width: 100%;

}

.row{
    margin-bottom: 0px;
}

textarea{
    height: 30px;
    border-radius: 50px;
    margin-top: 5px;
    padding-left: 20px;
    background-color: white
}
textarea:focus{
    outline-width:0px;
}

element.style {
    height: 70px;
}

.fill-height{
    height: 100%;
}

.middle-content{
    display: flex;
    align-items: center
}
.send-button{
    cursor: pointer;
    width:35px;
    height: 36px;
}